* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: url(img/Professionnal\ office\ decor.jpeg) center center no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  width: 100%;
}

.container {
  max-width: 1100px;
}

.active {
  padding: 5px 5px;
  border: 0.9px solid grey;
  border-radius: 5px;
}

#navbar {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 10px;
}

.nav ul {
  display: flex;
  flex-direction: row;
}

.nav li {
  padding: 0 15px;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}

.tel {
  padding: 0 15px;
}

.sections {
  height: calc(100vh - 50px);
  position: relative;
}

.names {
  position: relative;
  padding-top: 100px;
  padding-left: 90px;
}

.firstName {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.lastName {
  font-size: 4rem;
  font-weight: bold;
}

.stack {
  font-size: 1.5rem;
  letter-spacing: 10px;
}

.home-links {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
}

.btn {
  padding: 0.5rem 1.5rem;
  border: 1px solid grey;
  border-radius: 15px;
}

.home-links a:hover {
  color: grey;
}

#social-links {
  position: absolute;
  padding-left: 100px;
  bottom: 50px;
}
.social-icons a {
  padding: 0.2rem;
  font-size: 0.9rem;
}

/* About Styling */

#about {
  background: url(img/aboutbackg.jpeg) no-repeat top center/cover;
}

.about-content {
  padding-top: 50px;
  width: 500px;
  padding-left: 100px;
}
.underline {
  width: 114px;
  height: 2px;
  background: green;
}
.email {
  padding-top: 15px;
  padding-bottom: 70px;
}

.content {
  text-align: left;
  line-height: 1.25;
}

.address {
  text-align: center;
  position: absolute;
  bottom: 50px;
  left: 100px;
}

.house-number::after,
.house-number::before {
  content: "";
  background: green;
  width: 15px;
  height: 1px;
}

.flex {
  display: flex;
  align-items: center;
}

.dash {
  height: 1px;
  width: 15px;
  background: green;
  margin: 0 5px;
}

/* Resume Styling */
#resume {
  background: url(img/resumebg.jpg) no-repeat top center;
  background-size: cover;
}

.resume-cover-wrap {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 30px;
}
.lead-heading {
  text-align: left;
  padding-bottom: 2.5rem;
  text-decoration: underline;
  text-decoration-color: green;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
}

.the-skills {
  display: flex;
  /* flex-direction: column; */
  /* gap: 1.5rem; */
  justify-content: space-between;
  line-height: 1.5;
}

.p {
  width: 80px;
}

.q {
  width: 53px;
}

.image-like {
  width: 30px;
  height: 30px;
  text-align: center;
  border: 2px solid white;
  border-radius: 3px;
  padding: 3px;
  margin-bottom: 20px;
}
.skills {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list {
  display: flex;
  gap: 1rem;
}

.list li {
  padding: 0 15px;
  text-indent: -20px;
}

.list li::marker {
  margin-right: 1px;
}

/* Slider Styling */
.slider-container {
  width: 150px;
  height: 2px;
  background: #ddd;
  border-radius: 5px;
  position: relative;
  margin-top: 12px;
}

.slider-handle {
  width: 16px;
  height: 15px;
  border-radius: 50%;
  background: #4caf50;
  position: absolute;
  top: -7px;
  right: 0;
}
.a {
  right: 20px;
}
.b {
  right: 25px;
}
.c {
  right: 15px;
}
.d {
  right: 10px;
}
.e {
  right: 5px;
}
.f {
  right: 2px;
}
.g {
  right: 40px;
}
.h {
  right: 50%;
}

.experience {
  display: flex;
  gap: 1.5rem;
  height: 62px;
}

.title-pos {
  position: relative;
}
.title-pos h3 {
  text-transform: uppercase;
}

.title-pos p {
  text-transform: capitalize;
}

.date {
  background: #007fff;
  border-radius: 50%;
  height: 43px;
  width: 44px;
  padding: 8px;
  font-size: 8px;
  text-align: center;
  align-self: center;
  /* margin: -10px; */
}

/* .title-pos:not(:last-child)::after {
  content: "";
  background: #fff;
  width: 2px;
  height: 20px;
  display: block;
  position: absolute;
  left: -40px;
} */

.line-h {
  height: 25px;
  width: 2px;
  background: #fff;
  margin: 0 0 0 20px;
}

.expertise {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.expertise ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
